@model Tp_Comerce.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container ls-product-section">
    <div id="produit" class="page-header"></div>
    <div class="container ">
        <h3 class="h1-responsive font-weight-bold text-center my-4 "> DETAILS PRODUIT </h3>
        <div class="line"></div>

        <div id="listproduct" class="row">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Image)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductTypes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductTypes.ProductType)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
